<div class="heading margin1">
	<div class="ov">
		<h1 class="heading__title pull-left" translate>Address</h1>
		<div class="heading__address pull-right" ng-if="C.address.addrStr">
			{{ $root.currency.getConvertion(C.address.balance) }}
		</div>
	</div>
	<div class="heading__sm">
		<div class="heading__smLabeled">
			<div class=" copyParent copyParent-right">
				<a href="" 
					class="copyBtn icon-copy"
					ngclipboard 
					data-clipboard-text="{{ C.address.addrStr }}"></a>
				<div class="copyText text">
					{{ C.info.address ? C.info.address + ' (' + C.address.addrStr + ')' : C.address.addrStr }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section-summaryAddress">
	<div class="section__heading">
		<h2 class="section__title in_bl" translate>Summary</h2>
		<span class="section__status" translate>(confirmed)</span>
	</div>
	<div class="summaryAddress" ng-if="C.address.addrStr">
		<div class="col col-5">
			<ul class="list">
				<li class="list__item">
					<div class="list__left">
						<b translate>Total Received</b>
					</div>
					<div class="list__right">
						<div class="">
							{{ $root.currency.getConvertion(C.address.totalReceived) }}
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="list__left">
						<b translate>Total Sent</b>
					</div>
					<div class="list__right">
						<div class="">
							{{ $root.currency.getConvertion(C.address.totalSent) }}
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="list__left">
						<b translate>Final Balance</b>
					</div>
					<div class="list__right">
						<div class="">
							{{ $root.currency.getConvertion(C.address.balance) }}
						</div>
					</div>
				</li>
				<li class="list__item">
					<div class="list__left">
						<b>No. Transactions</b>
					</div>
					<div class="list__right">
						<div class="">
							{{ C.address.txApperances }}
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col col-5">
			<a href='' class="qr__link">
				<qrcode color="{{ $root.Constants.QRCOLOR.color }}" 
						background="{{ $root.Constants.QRCOLOR.background }}"
						size="160" 
						data="{{ C.address.addrStr }}">
				</qrcode>
			</a>
		</div>
	</div>
</div>
<div class="section section-storage smartMode" 
	 ng-init="C.getStorage()">
	<div class="section__heading" ng-if="C.storage.rows.length">
		<div class="ov">
			<div class="pull-left">
				<h2 class="section__title in_bl" translate>Storage</h2>
				<span class="section__status">[{{ C.storage.storageLength }} {{ 'entries' | translate }}]</span>
			</div>
		</div>
	</div>
	<div class="storage" ng-if="C.storage.rows.length">
		<div class="table table-smart-mode">
			<div class="tr tr-head">
				<div class="th" translate>KEY</div>
				<div class="th"></div>
				<div class="th text_r" translate>Value</div>
			</div>
			<div class="tr" ng-repeat="storageRow in C.storage.rows | limitTo : C.storage.viewRows">
				<div class="trMain">
					<div class="td">
						<div class="storage__tdInFirst ">
							<span ng-click="C.toggleStorageRowView($index)" translate>
								{{ C.storageViews[0] }}
							</span>
						</div>
					</div>
					<div class="td">
						<div class="storage__tdInCenter">
							<div class="storage__num left">
								<div ng-if="storageRow.key_data.length > 40">
									<span>{{ storageRow.key_data.substr(0, 20) }}</span><span class="attn tooltip__trigger" 
									tooltip
									tooltip-options="C.tooltipOptions" 
									tooltip-title="{{ storageRow.key_data }}"
									ng-if="storageRow.key_data.length > 40">[...]</span><span ng-if="storageRow.key_data.length > 40">{{ storageRow.key_data.substr(-20) }}</span>
								</div>
								<div ng-if="storageRow.key_data <= 40">
									{{ storageRow.key_data }}
								</div>
							</div>
							<div class="storage__arrow">→</div>
							<div class="storage__num right">
								<a class="storage__link"
								   ng-class="{ 'mark' : storageRow.valueState == 3 }"
								   href="contract/{{ storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]]}}"
								   ng-if="storageRow.valueState == 3">
									{{ storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]]}}
								</a>
								<div ng-if="!storageRow.valueState">
									<span>{{storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]].substr(0, 20)}}</span><span class="attn tooltip__trigger" 
									tooltip
									tooltip-options="C.tooltipOptions" 
									tooltip-title="{{ storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]]}}"
									ng-if="storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]].length > 40">[...]</span><span ng-if="storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]].length > 40">{{storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]].substr(-20)}}</span>
								</div>
								<div ng-if="storageRow.valueState && storageRow.valueState != 3">
									{{ storageRow[ 'value_' + C.storageViews[ storageRow.valueState ]]}}
								</div>
							</div>
						</div>
					</div>
					<div class="td">
						<div class="storage__tdInLast ">
							<a href="" 
							   class="mark-bd"
							   ng-click="C.toggleStorageRowView($index)">
								{{ C.storageViews[ storageRow.valueState ] }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="storage__btnWrap">
			<a href="" 
			   class="storage__btn"
			   ng-click="C.showMoreStorageRows(C.storage.viewRows + $root.Constants.STORAGE_ROWS)"
			   translate>
				More
			</a>
			<a href="" 
			   class="storage__btn"
			   ng-click="C.showMoreStorageRows(C.storage.storageLength)"
			   translate>
				Show All
			</a>
		</div>
	</div>
</div>

<div class="section section-transactionsAddress" 
	 ng-if="C.address.addrStr"
	 ng-controller="TransactionsController as TC" 
	 ng-init="TC.load(C.storage.rows.length ? 'contractAddress' : 'address')">
	<div class="section__heading">
		<h2 class="section__title" translate>Transactions</h2>
	</div>
	<div class="section__transactions" 
		 when-scrolled="TC.loadMore()" 
		 data-ng-include 
		 src="'views/transaction/list.html'">
	</div>
</div>