<div data-ng-include src="'views/includes/connection.html'"></div>
<div class="box" ng-controller="AddressController as AC" ng-init="AC.findOne()">
	<div class="heading margin1">
		<div class="ov">
			<h1 class="heading__title pull-left" translate>Address</h1>
			<div class="heading__address pull-right" ng-if="AC.address.addrStr">
				{{ $root.currency.getConvertion(AC.address.balance) }}
			</div>
		</div>
		<div class="heading__sm">
			<div class="heading__smLabeled">
				<div class=" copyParent copyParent-right">
					<a href="" 
					   class="copyBtn icon-copy"
					   ngclipboard 
					   data-clipboard-text="{{ AC.address.addrStr }}"></a>
					<div class="copyText text">
						{{ AC.address.addrStr }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-summaryAddress">
		<div class="section__heading">
			<h2 class="section__title in_bl" translate>Summary</h2>
			<span class="section__status" translate>(confirmed)</span>
		</div>
		<div class="summaryAddress" ng-if="AC.address.addrStr">
			<div class="col col-5">
				<ul class="list">
					<li class="list__item">
						<div class="list__left">
							<b translate>Total Received</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ $root.currency.getConvertion(AC.address.totalReceived) }}
							</div>
						</div>
					</li>
					<li class="list__item">
						<div class="list__left">
							<b translate>Total Sent</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ $root.currency.getConvertion(AC.address.totalSent) }}
							</div>
						</div>
					</li>
					<li class="list__item">
						<div class="list__left">
							<b translate>Final Balance</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ $root.currency.getConvertion(AC.address.balance) }}
							</div>
						</div>
					</li>
					<li class="list__item">
						<div class="list__left">
							<b>No. Transactions</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ AC.address.txApperances }}
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col col-5">
				<a href='' class="qr__link">
					<qrcode color="{{ $root.Constants.QRCOLOR.color }}" 
							background="{{ $root.Constants.QRCOLOR.background }}"
							size="160" 
							data="{{ AC.address.addrStr }}">
					</qrcode>
				</a>
			</div>
		</div>
	</div>

	<div class="section section-transactionsAddress" ng-if="AC.address.addrStr" ng-controller="TransactionsController as TC" ng-init="TC.load('address')">
		<div class="section__transactions" 
			 when-scrolled="TC.loadMore()" 
			 data-ng-include 
			 src="'views/transaction/list.html'">
		</div>
	</div>
</div>

