<div data-ng-include src="'views/includes/connection.html'"></div>
<div class="box" ng-controller="AddressController as AC" ng-init="AC.findOne()">
	<div class="heading margin1">
		<div class="ov">
			<h1 class="heading__title pull-left" translate>Address</h1>
			<div class="heading__address pull-right" ng-if="AC.address.addrStr">
				{{ $root.currency.getConvertion(AC.address.balance) }}
			</div>
		</div>
		<div class="heading__sm">
			<div class="heading__smLabeled">
				<div class=" copyParent copyParent-right">
					<a href="" 
					   class="copyBtn icon-copy"
					   ngclipboard 
					   data-clipboard-text="{{ AC.address.addrStr }}"></a>
					<div class="copyText text">
						{{ AC.address.addrStr }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-summaryAddress">
		<div class="section__heading">
			<h2 class="section__title in_bl" translate>Summary</h2>
			<span class="section__status" translate>(confirmed)</span>
		</div>
		<div class="summaryAddress" ng-if="AC.address.addrStr">
			<div class="col col-5">
				<ul class="list">
					<li class="list__item">
						<div class="list__left">
							<b translate>Total Received</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ $root.currency.getConvertion(AC.address.totalReceived) }}
							</div>
						</div>
					</li>
					<li class="list__item">
						<div class="list__left">
							<b translate>Total Sent</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ $root.currency.getConvertion(AC.address.totalSent) }}
							</div>
						</div>
					</li>
					<li class="list__item">
						<div class="list__left">
							<b translate>Final Balance</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ $root.currency.getConvertion(AC.address.balance) }}
							</div>
						</div>
					</li>
					<li class="list__item">
						<div class="list__left">
							<b>No. Transactions</b>
						</div>
						<div class="list__right">
							<div class="">
								{{ AC.address.txApperances }}
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col col-5">
				<a href='' class="qr__link">
					<qrcode color="{{ $root.Constants.QRCOLOR.color }}" 
							background="{{ $root.Constants.QRCOLOR.background }}"
							size="160" 
							data="{{ AC.address.addrStr }}">
					</qrcode>
				</a>
			</div>
		</div>
	</div>
<div ng-controller="TransactionsController as TC" 
	 ng-init="TC.load('address')">
	<div class="section section-storage" 
		 ng-controller="ContractsController as CC"
		 ng-class="{ 'smartMode' : CC.storage.smartMode }" 
		 ng-init="CC.getStorage(AC.address)"
		 >
		<div class="section__heading" ng-if="CC.storage">
			<div class="ov">
				<div class="pull-left">
					<h2 class="section__title in_bl" translate>Storage</h2>
					<span class="section__status">[29 entries]</span>
				</div>
				<div class="pull-right">
					<div class="tumbler blue-gray tumbler-storage">
						<label class="tumbler__label">
							<input type="checkbox" class="tumbler__input js-switch-mode" checked>
							<span class="tumbler__text">
								Smart mode
							</span>
							<span class="tumbler__slider"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="storage" ng-controller="TooltipCtrl" ng-if="AC.storage">
			<div class="table table-storage-def">
				<div class="tr tr-head">
					<div class="th">KEY</div>
					<div class="th"></div>
					<div class="th text_r">Value</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd disabled">data member</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">m_required</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">2</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd disabled">uint</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd disabled">data member</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">m_numOwners</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">4 </div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd disabled">uint</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td hover js-moreStorage">
							<a href="" class="table__moreArrow">
								<span class="table__moreArrowIcon icon-arrow-right"></span>
							</a>
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd disabled">data member</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">m_owners</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right inactive">size = 4</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd disabled">uint[256]</a>
							</div>
						</div>
					</div>
					<div class="trMore">
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">
										<!--21051664487824316635<span class="attn tooltip__trigger" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814-->
										21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814
									</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right">4</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left" >21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right">4</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right">2</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tr hover">
					<div class="trMain">
						<div class="td hover js-moreStorage">
							<a href="" class="table__moreArrow ">
								<span class="table__moreArrowIcon icon-arrow-right"></span>
							</a>
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd disabled">data member</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">m_ownerIndex</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right inactive">size = 3</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd disabled">mapping(uint=>uint)</a>
							</div>
						</div>
					</div>
					<div class="trMore">
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right">3</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right ">4</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right ">2</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tr hover">
					<div class="trMain">
						<div class="td hover js-moreStorage">
							<a href="" class="table__moreArrow ">
								<span class="table__moreArrowIcon icon-arrow-right"></span>
							</a>
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd disabled">data member</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">m_owners</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right inactive">size = 4</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd disabled">mapping(bytes32=>PendingState)</a>
							</div>
						</div>
					</div>
					<div class="trMore">
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right ">43</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right">4</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
						<div class="tr">
							<div class="td">
								<div class="storage__tdInFirst ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInCenter">
									<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
									<div class="storage__arrow">→</div>
									<div class="storage__num right">2</div>
								</div>
							</div>
							<div class="td">
								<div class="storage__tdInLast ">
									<a href="" class="mark-bd disabled">uint</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table table-smart-mode">
				<div class="tr tr-head">
					<div class="th">KEY</div>
					<div class="th"></div>
					<div class="th text_r">Value</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">
									<div class="">0</div>
								</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">
									<div class="">2</div>
								</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd">data</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">21051664487824316635<span class="attn tooltip__trigger" title-options="options" title="981914650675899789646497377648542394791002422277">[...]</span>81847331799285491814</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">
									<div class="">2</div>
								</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd">address</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">
									<a href="" class="storage__link mark">0000000000000000000000000000000000000000</a>
								</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">
									<div class="">2</div>
								</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd">string</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">
									<div class=""></div>
								</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">
									<div class="">2</div>
								</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tr">
					<div class="trMain">
						<div class="td">
							<div class="storage__tdInFirst ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInCenter">
								<div class="storage__num left">
									<div class="">0</div>
								</div>
								<div class="storage__arrow">→</div>
								<div class="storage__num right">
									<div class="">2</div>
								</div>
							</div>
						</div>
						<div class="td">
							<div class="storage__tdInLast ">
								<a href="" class="mark-bd">number</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="storage__btnWrap">
				<a href="" class="storage__btn">More</a>
				<a href="" class="storage__btn">Show All</a>
			</div>
		</div>
	</div>

	<div class="section section-transactionsAddress" 
		 ng-if="AC.address.addrStr">
		<div class="section__heading">
			<h2 class="section__title" translate>Transactions</h2>
		</div>
		<div class="section__transactions" 
			 when-scrolled="TC.loadMore()" 
			 data-ng-include 
			 src="'views/transaction/list.html'">
		</div>
	</div>
	</div>
</div>

