<!-- <div class="ov">
	<div class="total">A Total of 
		<span class="special">
			12 600 Tocken holders 
		</span> found: 
	</div>
	<div class="pagination pagination-right">
		<a href="" class="pagination__item disabled prev">
			<span class="arrow-left icon-arrows-right"></span>
			<span>first</span>
		</a>
		<a href="" class="pagination__item disabled prev">
			<span class="arrow-left icon-arrow-right22"></span>
			<span>prev</span>
		</a>
		<span class="pagination__item active">Page 1 of 137</span>
		<a href="" class="pagination__item next">
			<span>next</span>
			<span class="arrow icon-arrow-right22"></span>
		</a>
		<a href="" class="pagination__item next">
			<span>last</span>
			<span class="arrow icon-arrows-right"></span>
		</a>
	</div>
</div>
<div class="section section-tockenPie fadeEffect none">
	<div class="chart__left">
		<div class="title">Top-100 Tocken holders</div>
		<div class="text__wrap">
			<div class="text">
				The Top 100 holders collectively own 88.34% (88,343,470.70 Tokens) of Qtum
			</div>
			<div class="text">Tokens Total Supply: 100,000,000.00 Total Token Holders: 12009</div>
		</div>
	</div>
	<div class="chart__right">
		<div class="">
			<div class="">
				<canvas id="pie" class="chart chart-pie" chart-data="data"
						chart-labels="labels" chart-series="series" chart-options="options"
						chart-dataset-override="datasetOverride" chart-click="onClick" height="107">
				</canvas>
			</div>
		</div>
	</div>
</div>
<div class="section section-tockenHolders fadeEffect">
	<div class="table">
		<div class="tr tr-head">
			<div class="th">Rank</div>
			<div class="th">Address</div>
			<div class="th">Quantity</div>
			<div class="th">Percentage</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">1.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				28023751
			</div>
			<div class="td">
				28.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">2.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				6094390.69046585
			</div>
			<div class="td">
				17.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">3.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				2962889.888352
			</div>
			<div class="td">
				7.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">4.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				28023751
			</div>
			<div class="td">
				28.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">5.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				6094390.69046585
			</div>
			<div class="td">
				17.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">6.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				2962889.888352
			</div>
			<div class="td">
				7.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">7.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				28023751
			</div>
			<div class="td">
				28.0238%
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<div class="muted">8.</div>
			</div>
			<div class="td">
				<div class="muted ellipsis">
					0xad2c737a9be70bdbf45f233e102a2f492d0xad2c737a9be70bdbf45f233e102a2f492d
				</div>
			</div>
			<div class="td">
				6094390.69046585
			</div>
			<div class="td">
				17.0238%
			</div>
		</div>
	</div>
</div>
<div class="ov">
	<div class="pagination pagination-right">
		<a href="" class="pagination__item disabled prev">
			<span class="arrow-left icon-arrows-right"></span>
			<span>first</span>
		</a>
		<a href="" class="pagination__item disabled prev">
			<span class="arrow-left icon-arrow-right22"></span>
			<span>prev</span>
		</a>
		<span class="pagination__item active">Page 1 of 137</span>
		<a href="" class="pagination__item next">
			<span>next</span>
			<span class="arrow icon-arrow-right22"></span>
		</a>
		<a href="" class="pagination__item next">
			<span>last</span>
			<span class="arrow icon-arrows-right"></span>
		</a>
	</div>
</div> -->