<div class="section section-tockenReadSmartContracts">
	<!-- <div class="tockenReadSmartContracts">
		<ul class="list">
			<li class="list__item">
				<div class="index">1.</div>
				<div class="text">Name</div>
				<span class="arrow icon-arrow-right2"></span>
				<div class="text">
					Qtum <span class="muted">string</span>
				</div>
			</li>
			<li class="list__item">
				<div class="index">2.</div>
				<div class="text">TotalSupply</div>
				<span class="arrow icon-arrow-right2"></span>
				<div class="text">
					100000000000000000000000000
					<span class="muted">unit256</span>
				</div>
			</li>
			<li class="list__item">
				<div class="index">3.</div>
				<div class="text">Decimals</div>
				<span class="arrow icon-arrow-right2"></span>
				<div class="text">
					18 <span class="muted">unit8</span>
				</div>
			</li>
			<li class="list__item">
				<div class="index">4.</div>
				<div class="text">Version</div>
				<span class="arrow icon-arrow-right2"></span>
				<div class="text">
					H.01 <span class="muted">string</span>
				</div>
			</li>
			<li class="list__item">
				<div class="index">5.</div>
				<div class="text">BalanceOf</div>
				<span class="arrow icon-arrow-right2"></span>
				<a href="" class="btn btn-transp">_owner (address)</a>
				<a href="" class="btn btn-blue">Query</a>
				<div class="line">
					<span class="arrow-lg icon-arrow-right3"></span>
					<span class="text">
						Balance <span class="muted">unit256</span>
					</span>
				</div>
			</li>
			<li class="list__item">
				<div class="index">6.</div>
				<div class="text">Symbol</div>
				<span class="arrow icon-arrow-right2"></span>
				<div class="text">
					QTUM <span class="muted">string</span>
				</div>
			</li>
			<li class="list__item">
				<div class="index">7.</div>
				<div class="text">Allowance</div>
				<span class="arrow icon-arrow-right2"></span>
				<a href="" class="btn btn-transp">_owner (address)</a>
				<span class="text">,&nbsp;</span>
				<a href="" class="btn btn-transp">_pender (address)</a>
				<a href="" class="btn btn-blue">Query</a>
				<div class="line">
					<span class="arrow-lg icon-arrow-right3"></span>
					<span class="text">
						Remaining <span class="muted">unit256</span>
					</span>
				</div>
			</li>
		</ul>
	</div> -->
</div>