<form ng-controller="SearchController as SC" 
	  role="search" 
	  ng-submit="SC.search()" 
	  ng-class="{ 'has-error' : SC.badQuery }">
	<input type="text" 
		   class="field search__field" 
		   ng-model="SC.q" 
		   ng-class="{ 'loading' : SC.loading }" 
		   placeholder="{{ 'Search for block, transaction or address' | translate }}"
		   ng-submit="SC.search()" 
		   focus="true"/>
	<div class="search__notFound active" ng-if="SC.badQuery">
		<p translate>No matching records found!</p>
	</div>
</form>
